.permalink_wrapper {
  display:inline;
  position: relative;
  font-size: .8em;
  // float:right;
  > a {
    color: #333 !important;
    border:1px solid #F5F5F5;
    // &:hover {
    //   // border:1px solid;
    // }
    // display: inline-block;
    // vertical-align: middle;
    // margin-left: .5em;
    white-space: nowrap;
    svg {
      vertical-align: middle;
      display: inline-block;
    }
  }
  .sharebox {
    display:none;
    &.open {
      display:block;
    }
    text-align:left;
    position: absolute;
    z-index: 999;
    top:120%;
    right: 0;
    background: #ddd;
    border: 1px solid #777;
    padding: .5em;
    min-width: 20em;
    max-width: 100%;
    box-shadow: 0 0 10px #222;
    color: #111;
    input {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
    label span {
      display: block;
      text-align: right;
    }
    button {
      @extend .btn-small;
      position:absolute;
      bottom:0;
      right:0;
    }
    p {
      float:none;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  kbd {
    font-size: 1em;
  }
}
.entry-header {
  .permalink_wrapper {
    >a {
      padding: 2px !important;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}