@import "wai-helpers";

$small:  25em; //* 400px */
$medium: 43em; //* 700px */
$big:    56em; //* 900px */
$large:  81em; //* 1300px */

#masthead {
  padding: 0 15px;
}

header[role=banner] {
  font-size: (18/14) * 1em;
  border-top: 5px solid #930;
  margin-bottom: .75em;
  div {
    margin: 0 auto;
    @include mq($small) {
      &.w3c-wai-header {
        float: right;
        margin: 0 0 .5em .5em;
        a {
          display: inline-block;
        }
      }
    }
  }
  img {
    display:inline-block;
    vertical-align: middle;
    height: 44px;
    width: auto;
    @include mq($small) {
      height: auto;
      max-width: 90px;
    }
  }
  a {
    text-decoration: none;
    &:hover, &:focus {text-decoration: underline;}
    @include mq($small) {
      &.wai img {
        max-width: none;
      }
    }
  }
}

.intro {
  margin-bottom: 1em;
  padding: 0 15px;
}

@keyframes loading {
  0% {
    transform: translateX(-50%);
  }
  25% {
    transform: translateX(-40%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.search-filter-results {
  position: relative;
  &[style="opacity: 0.5;"]{
    opacity: 1 !important;
    &:before {
      content: "Loading";
      font-size: 3em;
      text-transform: uppercase;
      position: absolute;
      top:0;
      left: 50%;
      transform: translateX(-50%);
      animation: loading .4s;
      z-index: 1000;
    }
    > * {
      opacity: .5;
    }
  }
  .results-details {
    margin: 0 15px;
  }
  article.tile {
    margin: 0 0 15px 0;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: inherit;
    text-decoration:none;
    display:block;
    position: relative;
  }
  .entry-header {
    padding: 4px 10px;
    //border-bottom: 1px solid #444;
    background-color: $color__text-screen;
    color: #fff;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h1, h2 {
      margin: 0;
      font-size: 1.25em;
      font-weight: normal;
    }
    .byline {
      font-style: italic;
    }
    a {
      color: inherit;
      text-decoration: underline;
    }
    a:hover, a:focus {
      text-decoration: underline;
    }
  }
  .type {
    color: #fff;
    background-color: $color__text-screen;
    border: 1px solid $color__text-screen;
    border-radius: 2px;
    padding: 0 2px;
    &.type-theme {
      padding-right: 0;
    }
    text-transform: uppercase;
    font-size: .75em;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    span {
      display: inline-block;
      border-radius: 0 1px 1px 0;
      padding: 1px 2px 1px;
      text-transform: none;
      background: #fff;
      color: $color__text-screen;
      font-style: italic;
    }
  }
  .entry-content {
    display: flex;
    margin-top: 0;
  }
  .thumbnail {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0 0;
    flex: 0 0 112px;
    border-right: 1px solid #cdcdcd;
    @include mq($big) {
      flex: 0 0 212px;
    }
  }
  .description {
    flex-grow:1;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    .desc-inner p {
      margin: 10px 10px 0;
    }
  }
  img {
    width: auto;
    fill: #ccc;
    border: 1px solid #555;
    max-width: 100px;
    max-height: 100px;
    @include mq($big) {
      max-height: 200px;
      max-width: 200px;
    }
  }
  .github {
    img, svg {
      width: 1em;
      height: 1em;
      color: currentColor;
      vertical-align: middle;
      margin-top:-.2em;
    }
  }
}

.toolbar {
  display: flex;
  justify-items: space-between;
  align-content: center;
  margin-bottom: 15px;
  background-color: #ddd;
  border-bottom: 1px solid #999;
  padding: .25em 1em .25em 0em;
  animation: target-fade 3s 1;
  > div:first-child {
    flex:1;
    div {
      display:inline;
    }
  }
  > * {
    margin-left: 1em;
  }
  ~ * {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@-webkit-keyframes target-fade {
    0% { background-color: yellow; }
    100% { background-color: #ddd; }
}

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
  font-size: 32px; // works because "width" & "height" were set using em units
  color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-link-external {
  vertical-align: middle;
}

#primary-menu {
  a {
    font-size: 1.5em;
  }
  .current-menu-item a::after {
    content: ' ◀︎';
    font-size: .75em;
  }
}

.tagcloud a {
  font-size: 1em !important;
}

#tag_cloud-3 .tagcloud a {
  display: block;
}

.entry-title small {
  opacity: .9;
}

.entry-content-wrapper {
  display: flex;
}

.entry-content-main {
  flex: 0 0 65%;
  margin-right: 2%;
  .entry-meta {
    margin-bottom: 2em;
  }
}

.links {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  a {
    flex: 1 1 50%;
    padding: 5px;
    border: 2px solid #3C6DA5;
    color: #3C6DA5;
    font-weight: bold;
    font-size: 1em;
    text-decoration:none;
    margin-left: 1em; &:first-child {margin-left: 0;}
    &:hover, &:focus {
      background-color: rgba(#3C6DA5, .2);
    }
  }
}

.entry-content-main .links {
  display: flex;
}

.screenshot {
  border: 1px solid #CCC;
  background-color: #EEE;
  padding: .5em;
  border-radius: 3px;
  margin: {
    left:0;
    right:0;
  }
  img {
    border: 1px solid #CCC;
    border-radius: 3px;
  }
}

.contributors {
  margin: 0;
  padding: 0;
  li {
    display: inline;
    &:after {
      content: ', ';
    }
    &:last-child:after {
      content: '';
    }
  }
  a {
    white-space: nowrap;
  }
}

.github-avatar {
  vertical-align: middle;
}

.widget-area .searchandfilter {
  ul { padding: 0; display:block; }
  li {
    padding: 0;
  }
  h4 {
    margin: 0 0 5px;
    padding: 0;
  }
  >ul {
    >li {
      padding: 10px;
      border-bottom: 1px solid #999;
      &:last-child {
        border-bottom:none;
      }
      // &:nth-child(2n) {
      //   background-color: #eee;
      // }
    }
  }
  [data-operator] li {
    display: flex;
    align-items: baseline;
    input {
      flex: 0 1 1em;
    }
    label{
      flex:1;
    }
  }
}


.tags {
  h3, ul {
    display:inline;
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: #333;
  }
  h3:after {
    content:':';
  }
  a {
    color: inherit;
  }
  ul li {
    display: inline;
    &:after {
      content: ',';
    }
    &:last-child:after {
      content: '';
    }
  }
}

.moreinfo {
  font-size: .85em;
  background-color: #ddd;
  padding: 5px 10px;
  margin-top:10px;
  flex-grow:0;
  border-top: 1px solid #CDCDCD;
  p {
    margin: 0;
  }
  ul {
    margin:0;
    padding:0;
    li {
      list-style: none;
    }
  }
}

.btn, #showmorebutton, .btn-primary, .btn-secondary, .btn-small, .permalink_wrapper .sharebox button {
  display: inline-block;
  background-color: #fff;
  color: #333;
  font-weight: normal;
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 2px;
  line-height: 1;
  text-decoration: none;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
}

.btn-primary {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNGM5OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMzM2NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #004c99), color-stop(100%, #003366));
  background: -webkit-linear-gradient(top, #004c99, #003366);
  background: linear-gradient(to bottom, #004c99, #003366);
  color: #fff !important;
  border-color: #001933;
}

.btn-secondary {
  background: linear-gradient(to bottom, #ccc, #eee);
  color: #333 !important;
  border-color: #b5b5b5;
}

.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  text-decoration: underline;
}

.btn:hover, #showmorebutton:hover, .btn-primary:hover, .btn-small:hover, .permalink_wrapper .sharebox button:hover, .btn:focus, #showmorebutton:focus, .btn-primary:focus, .btn-small:focus, .permalink_wrapper .sharebox button:focus {
  color: #141414;
  background-color: #f2f2f2;
  border-color: #adadad;
  text-decoration: underline;
}

// Submission Widget box
#text-3 {
  padding: 5px 10px;
  background-color: #fff;
  a.btn-primary {display: block; margin-bottom: 5px;}
  p {margin:0;}
  .widget-title {
    @extend .visuallyhidden;
  }
  .textwidget {
    p:first-child {
      text-align: center;
    }
  }
}

//Disclaimer

#text-4 {
  margin: 5px;
  padding: 0 5px;
  .widget-title {
    font-style: 1em;
    color: #fff;
    background-color: #923E25;
    margin:0;
    padding: 1px 5px;
  }
  .textwidget {
    border: 1px solid #923E25;
    padding: 5px;
    background: #fff;
    font-size: .8em;
    p {
      margin:0;
      +p {margin-top:5px;}
    }
  }
}

footer[role=contentinfo] {
  clear: both;
  border: 5px solid #993300;
  border-width: 5px 0;
  font-size: 0.9em;
  margin-top: 2em;
  padding: 0 15px;
}

footer[role=contentinfo] h2, footer[role=contentinfo] .navigation .topic, .navigation footer[role=contentinfo] .topic {
  font-size: 1em;
}

.footer-nav ul {
  margin: 0;
  padding: 0;
}

.footer-nav li {
  list-style: none;
  display: inline;
}

.footer-nav li:before {
  content: "[";
}

.footer-nav li:after {
  content: "] ";
}

.footer-nav + .feedback p {
  margin-top: 0;
}

.sf-field-taxonomy-wai_tags {
  ul {
    display: flex !important;
    flex-wrap: wrap;
  }
  li {
    flex-grow: 1;
    justify-items: stretch;
  }
  li.sf-option-active {
    order: -1;
  }
  li[data-sf-count="0"] {
    order: 99;
  }
  label {
    flex-grow: 1;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 5px 10px;
    font-size: .85rem;
    line-height: 1.5;
    border-radius: 2px;
    margin-bottom: 3px;
    margin-right: 3px;
    position: relative;
  }
  input[type="checkbox"] {
    @extend .visuallyhidden;
    &:checked+label {
      background-color: $color__text-screen;
      color: #fff;
      &:after {
        content: "";
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNDQ4Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNDE3Ljc1IDE0MS41cTAgMTAtNyAxN2wtMjE1IDIxNXEtNyA3LTE3IDd0LTE3LTdMMzcuMjUgMjQ5cS03LTctNy0xN3Q3LTE3bDM0LTM0cTctNyAxNy03dDE3IDdsNzMuNSA3My43NSAxNjQtMTY0LjI1cTctNyAxNy03dDE3IDdsMzQgMzRxNyA3IDcgMTd6Ii8+PC9zdmc+");
        background-size: contain;
        display: block;
        position: absolute;
        top: 1px;
        right: 1px;
        height: 10px;
        width: 10px;
      }
    }
    &:focus+label {
      background-color: #ccc;
      color: #000;
      border-color: #A72300;
    }
  }
  label:hover {
    background-color: #ccc;
    color: #000;
    border-color: #A72300;
  }
}

.searchandfilter .sf-count {
  display: inline;
  margin: 0;
  font-size: 0.8em;
}

.pagination {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  ul {
    margin: 0;
    padding: 0;
    display:flex;
    li {
      list-style: none;
      flex:0 1 33%;
      &:nth-child(2) {
        background-color: #ddd;
        text-align: center;
        flex:1 0 33%;
        padding: 3px;
      }
      &:last-child {
        text-align: right;
      }
      a {
        display:block;
        padding: 3px;
      }
    }
  }
}

#deselect {
  font-size: .85em;
}

.type-page {
  margin: 0 15px;
  .entry-title {
    margin-top: 0;
  }
  .entry-content {
    margin-top: 0;
  }
}

.sf-field-taxonomy-wai_tags {
  ul {
    position:relative;
    overflow:scroll;
    max-height: 10em;
  }
}

#report form {
  margin-left: 3em;
}

.support {
  text-align: right;
  font-size:smaller;
  a {
    text-decoration: none;
    border-bottom: 1px solid #626262;
    color: #626262;
  }
}

.note {
  float: right;
  clear: right;
  max-width: 19em;
  text-align: center;
  margin: 1em 15px;
  font-family: Trebuchet MS, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .85em;
  border: 1px solid #555;
  outline: 4px solid #fff176;
  padding: .5em;
}

/* Filters heading */
#text-6 {
  margin-bottom: 0;
  h3 {
    padding: 10px;
    margin:0;
  }
}

#post-336 {
  margin:0;
  > .entry-header { display: none; }
  > .entry-content { margin-top: 0; }
}

#post-298 ol li {
  margin-bottom: 1em;
}