.acf-field[data-name="vendor"] .acf-taxonomy-field,
.acf-field[data-name="tags"] .acf-taxonomy-field {
  display:flex;
  flex-direction: row-reverse;
  .acf-icon {
    margin-left: 10px;
  }
}

.acf-taxonomy-field .acf-icon {
  position: static !important;
  top: auto !important;
  left: auto !important;
  bottom: auto !important;
  right: auto !important;
  visibility: visible !important;
  opacity: 1 !important;
  width: auto !important;
  font-family: inherit !important;
  /*border-radius: 4px !important;
  color: #333;
  padding: 0 4px;
  display: inline-block;*/
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  min-width: 170px !important;
}

.acf-taxonomy-field .acf-icon:focus {
    border-color: #5b9dd9;
    -webkit-box-shadow: 0 0 3px rgba(0,115,170,.8);
    box-shadow: 0 0 3px rgba(0,115,170,.8);
}
.acf-taxonomy-field .acf-icon:hover {
  background: #fafafa !important;
  border-color: #999 !important;
  color: #555 !important;
}

.acf-taxonomy-field .acf-icon:before {
  content: attr(title) !important;
  width: auto !important;
  font-family: inherit !important;
}

#acf-group_572c88e895390 {
  /* submission criteria box*/
  background-color: #fff;
  border-left: 2px solid #A72300;
  padding: 8px 12px;
  font-weight: bold;
}

ul.componenttypes {
  li {
    margin-bottom: 0;
    list-style-type: disc;
    margin-left: 2em;
  }
}

.description {
 color: #595959;
}

#login, .login {
  padding-top: 40px;
  h1 {
    a {
      background-image: url(https://www.w3.org/Icons/w3c_home), url(https://www.w3.org/WAI/images/wai-temp);
      padding-bottom: 10px;
      background-size: 72px, 194px;
      background-position: 0 top, 73px top;
      padding-top: 48px;
      text-indent: 0;
      width: auto;
      max-width: 20em;
      text-align: left;
      font-weight: bold;
    }
  }
}

#login, .login {
  #nav {
    display: none;
  }
}