.site-content {
  clear:both;
  @include mq($medium) {
    display:flex;
  }
}

.content-area {
  @include mq($medium) {
    order:1;
    flex-grow: 1;
  }
}

#secondary {
  @include mq($medium) {
    flex: 0 0 300px !important;
    background-color: #DDD;
    order:0;
  }
  padding: 0;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}