.site-content {
  display:flex;
}

.content-area {
	order:1;
}

#secondary {
	flex: 0 0 $size__site-sidebar;
  background-color: #eee;
  order:0;
  padding: 0 1em;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}