.site-content {
  display:flex;
}

.content-area {
	order:1;
  flex-grow: 1;
}

#secondary {
	flex: 0 0 300px !important;
  background-color: #DDD;
  order:0;
  padding: 0;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}