.not-w3c-notification {
  display:block;
  float:none !important;
  background-color:#FCC;
  padding: .65em .5em;
  font-weight: bold;
  a {
    border-bottom:2px solid;
  }
}

.page-title {
  font-size: 1.75em;
  font-family: $font__main;
  margin-bottom: 1em;
  line-height: 1;
  padding: .25em 0 0;
  float:none;
  .subheading {
    padding: .25em 0 0;
    display:block;
    font-size: .5em;
    font-family: $font__serif;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
