$font__main: "Trebuchet MS", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font__serif: "Vollkorn", Georgia, serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.33333;
$font__line-height-pre: 1.6;